<!DOCTYPE html>
<html>
<head>
    <title>JS BoxGuns</title>

    <style>
        body {
            margin: 0;
            overflow: hidden;
            background: black;
        }

        canvas {
            display: block;
            margin: auto;
        }
    </style>
</head>

<body>

<canvas id="game" width="1800" height="900"></canvas>

<script>

var board = { x: Array.from({ length: 18 }, (_, i) => i), y : Array.from({ length: 9 }, (_, i) => i) };


var player = { x: 0, y: 0 }

const canvas = document.getElementById("game");
const ctx = canvas.getContext("2d");

var dead = 0;

let keys = {};

document.addEventListener("keydown", e => {
    keys[e.key.toLowerCase()] = true;
});

document.addEventListener("keyup", e => {
    keys[e.key.toLowerCase()] = false;
});

function Game() {
  ctx.fillStyle = " rgb(100, 0, 0)"
  ctx.fillRect(0, 0, canvas.width, canvas.height);
  
  if (keys["w"] && player.y > 0) player.y -= 1;
  if (keys["s"] && player.y < 8) player.y += 1;
  if (keys["a"] && player.x > 0) player.x -= 1;
  if (keys["d"] && player.x < 17) player.x += 1;
  
  for (const [index, x] of board.x.entries()) {
    
    for (const [indey, y] of board.y.entries()) {
      
      if (player.x === index && player.y === indey) {
        ctx.fillStyle = "rgb(255, 0, 0)"
      }
      
      else {
        ctx.fillStyle = "rgb(0, 0, 0)"
      }
      
      ctx.fillRect(index * 100, indey * 100, 100, 100)
      
    }
    
  }
  requestAnimationFrame(Game);
}
Game()

</script>

</body>
</html>
