<!DOCTYPE html>
<html>
<head>
    <title>JS BoxGuns</title>

    <style>
        body {
            margin: 0;
            overflow: hidden;
            background: black;
        }

        canvas {
            display: block;
            margin: auto;
        }
    </style>
</head>

<body>

<canvas id="game" width="1800" height="1000"></canvas>

<script>

var format = [16, 16]

function Generate(surface) {
  var bombs = 0
  for (const [index, i] of surface.entries()) {
    if (RandomRandint(1, 8 * bombs / 4) === 1 && bombs < 20) {
      bombs += 1
      surface[index] = 1
    }
  }
  return surface
}

let keys = {};

let mouse = {
  x: 0,
  y: 0,
  down: false
};

function RandomRandint(min, max) {return Math.floor(Math.random() * (max - min + 1)) + min;}

var board = Generate(Array(format[0] * format[1]).fill(0));

var discovered = Array(format[0] * format[1]).fill(0);

const canvas = document.getElementById("game");
const ctx = canvas.getContext("2d");

canvas.addEventListener("mousedown", () => {
    mouse.down = true;
});

canvas.addEventListener("mouseup", () => {
    mouse.down = false;
});

canvas.addEventListener("mousemove", e => {
    const rect = canvas.getBoundingClientRect();
    mouse.x = e.clientX - rect.left;
    mouse.y = e.clientY - rect.top;
});

document.addEventListener("keydown", e => {
    keys[e.key.toLowerCase()] = true;
});

document.addEventListener("keyup", e => {
    keys[e.key.toLowerCase()] = false;
});

document.addEventListener("keydown", e => {
    const key = e.key;
});

function Game() {
  ctx.fillStyle = "rgb(50, 50, 50)";
  ctx.fillRect(0, 0, canvas.width, canvas.height);
  for (const [x, i] of Array(16).entries()) {
    for (const [y, i] of Array(16).entries()) {
      
      if (discovered[x * 16 + y] === 0) ctx.fillStyle = "rgb(75, 75, 75)"; else if (board[x * 16 + y] === 1) ctx.fillStyle = "rgb(100, 0, 0)"; else ctx.fillStyle = "rgb(100, 100, 100)"; 
      ctx.fillRect(x * 50 + 2, y * 50 + 2, 46, 46)
    }
  }
  if (mouse.down) {
    ctx.fillStyle = "blue"
    ctx.fillRect(1, 1, 100, 100)
    if (mouse.x < format[0] * 50 && mouse.x > 0 && mouse.y < format[1] * 50 && mouse.y > 0) {
      ctx.fillStyle = "red"
      ctx.fillRect(1, 1, 100, 100)
      for (const [x, i] of Array(16).entries()) {
        for (const [y, i] of Array(16).entries()) {
          if (mouse.x > x * 50 && mouse.x < x * 50 + 50 && mouse.y > y * 50 && mouse.y < y * 50 + 50) {
            discovered[x * 16 + y] = 1;
          }
        }
      }
    }
  }
  requestAnimationFrame(Game)
}
Game()

</script>

</body>
</html>
